<div class="bg-gray-100">
    <div class="container py-2">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-7">
                <div class="flex justify-content-start align-items-center">
                    <i class="fa-solid fa-tags fs-2"></i>
                    <h3 class="fs-4">Sign up to newsletter & get <span class="mainC">50%</span> coupon for first shopping</h3>
                </div>
            </div>
            <div class="col-md-5">
                <div class="p-inputgroup">
                    <input type="text" pInputText class="w-50" placeholder="Enter your email">
                    <button type="button" pButton pRipple class="mainbg" label="Signup"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white-alpha-90 pt-6 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/images/logo.png" alt="">
                <p class="fw-normal fs-5 ms-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right of the Semantics, a large language ocean.</p>
            </div>
            <div class="offset-3 col-md-5">
                <div class="flex gap-4 pt-3">
                    <i class="fa-solid mainC fa-headset fs-1"></i>
                    <div class="flex flex-column g-0">
                        <span>Got Questions ? Call us 24/7!</span>
                        <h4 class="m-0 fs-5">(800) 8001-8588</h4>
                    </div>
                </div>
                <div class="flex gap-4 pt-3 my-3">
                    <i class="fa-solid fa-location-dot mainC fs-1"></i>
                    <div class="flex flex-column g-0">
                        <span>Contact Info</span>
                        <h4 class="m-0 fs-5">17 Princess Road, London, Greater London NW1 8JR, UK</h4>
                    </div>
                </div>
                <div class="flex gap-3 fs-3 mt-5">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-100 text-center">
        <h5 class="fs-6 fw-normal py-1">© Shoply - All Rights Reserved</h5>
</div>