<div class="container py-4">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="row  rounded-3 justify-content-center align-items-center">
                <div class="col-md-5">
                    <img src="assets/images/slider1.png" class="w-100" alt="">
                </div>
                <div class="col-md-5">
                    <h4 class="mainC">Shop to get what you love!</h4>
                    <h2 class="display-4 fw-light">TIMEPIECES THAT MAKE A STATEMENT UP TO <strong>40% OFF</strong></h2>
                    <button pButton pRipple label="Buy Now" class="p-button-danger p-button-lg px-5 py-2 p-button-rounded"></button>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="row  justify-content-center align-items-center">
                <div class="col-md-5">
                    <img src="assets/images/slider3.png" class="w-75" alt="">
                </div>
                <div class="col-md-5">
                    <h4 class="mainC">Shop to get what you love!</h4>
                    <h2 class="display-4 fw-light">TIMEPIECES THAT MAKE A STATEMENT UP TO <strong>40% OFF</strong></h2>
                    <button pButton pRipple type="button" label="Buy Now" class=" p-button-danger px-5 py-2 p-button-rounded"></button>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="row  justify-content-center align-items-center">
                <div class="col-md-5">
                    <img src="assets/images/Slider2.png" class="w-75" alt="">
                </div>
                <div class="col-md-5">
                    <h4 class="mainC">Shop to get what you love!</h4>
                    <h2 class="display-4">THE NEW <br> STANDARD UNDER <br> FAVORABLE SMARTWATCHES <br><strong>FROM$749</strong></h2>
                    <button pButton pRipple type="button" label="Buy Now" class=" p-button-danger px-5 py-2 p-button-rounded"></button>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
