<div class="container py-4">
    <div class=" flex align-items-center justify-content-center overflow-hidden ">
        <div class="flex flex-column align-items-center justify-content-center">             
            <div>
                <div class="w-full surface-card py-5 my-7 px-5 sm:px-8" style="border-radius:53px">
                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-small mb-3">Welcome!</div>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="mt-3">
                        <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <input formControlName="email" id="email" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-3" style="padding:1rem">
                        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger mb-2">
                            <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
                            <p *ngIf="loginForm.get('email')?.errors?.['email']">Please enter valid email</p>
                        </div>
                        <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <p-password formControlName="password" id="password" styleClass="w-full mb-3" placeholder="Password" [feedback]="false" [toggleMask]="true" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
                        <div class="flex align-items-center justify-content-between mb-4 gap-5">
                            <div class="flex align-items-center">
                                <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                                <label for="rememberme1">Remember me</label>
                            </div>
                            <a (click)="showDialog()" class="font-medium mainC no-underline ml-2 text-right cursor-pointer" >Forgot password?</a>
                        </div>
                        <button [disabled]="loginForm.invalid" type="submit"  pButton pRipple label="Login" class="mainbg me-2 px-5 py-2"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Forget password forms -->
<p-dialog header="Reset Password" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
    <!-- Send verification email form -->
    <form *ngIf="!codeForm && !newPForm" [formGroup]="resetEmail" (ngSubmit)="sendEmail()">
        <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
        <input formControlName="email" id="email" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-3" style="padding:1rem">
        <div *ngIf="resetEmail.get('email')?.errors && resetEmail.get('email')?.touched" class="alert alert-danger mb-2">
            <p *ngIf="resetEmail.get('email')?.errors?.['required']">Email is required</p>
            <p *ngIf="resetEmail.get('email')?.errors?.['email']">Please enter valid email</p>
        </div>
        
        <button [disabled]="resetEmail.invalid" type="submit" pButton pRipple label="Send code" class="mainbg me-2 px-5 py-2"></button>
    </form>
    <!-- Verification code submit form -->
    <form *ngIf="codeForm" [formGroup]="verifyCode" (ngSubmit)="codeSubmit()">
        <label for="Verification code" class="block text-900 text-xl font-medium mb-2">Verification Code</label>
        <input formControlName="resetCode" id="email" type="text" placeholder="Verification code" pInputText class="w-full md:w-30rem mb-3" style="padding:1rem">
        <div *ngIf="verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched" class="alert alert-danger mb-2">
            <p *ngIf="verifyCode.get('resetCode')?.errors?.['required']">Verification code is required</p>
        </div>
        <button [disabled]="resetEmail.invalid" type="submit"  pButton pRipple label="Submit" class="mainbg me-2 px-5 py-2"></button>
    </form>
    <!-- New password submit form -->
    <form *ngIf="newPForm" [formGroup]="newPassForm" (ngSubmit)="newPass()" class="mt-3">
        <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
        <input formControlName="email" id="email" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-3" style="padding:1rem">
        <div *ngIf="newPassForm.get('email')?.errors && newPassForm.get('email')?.touched" class="alert alert-danger mb-2">
            <p *ngIf="newPassForm.get('email')?.errors?.['required']">Email is required</p>
            <p *ngIf="newPassForm.get('email')?.errors?.['email']">Please enter valid email</p>
        </div>
        <label for="password" class="block text-900 font-medium text-xl mb-2">New Password</label>
        <p-password formControlName="newPassword" id="password" styleClass="w-full mb-3" placeholder="Password" [feedback]="false" [toggleMask]="true" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
        <div class="flex align-items-center justify-content-between mb-4 gap-5">
            <div class="flex align-items-center">
                <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                <label for="rememberme1">Remember me</label>
            </div>
        </div>
        <button [disabled]="loginForm.invalid" type="submit" pButton pRipple label="Login" class="mainbg me-2 px-5 py-2"></button>
    </form>
</p-dialog>